<div class="container" id="book">
    <div class="offered-services">
      <p class="centered-header">Book a Service</p>  
    </div>

    <div class="row">
      <p class="light-header">Call or email us and let us know how we can help you.</p>
      <p><img style="height:37px; width: 20px; margin-right: 10px;" src="/public/img/phone-icon.png"/>082 874 8928</p>
      <p><img style="height:19px;width: 20; margin-right: 10px;" src="/public/img/email-icon.png"/><a href="mailto:emma.bronwyn09@gmail.com">emma.bronwyn09@gmail.com</a></p>
    </div>

    <div class="row">
      <p class="light-header">Or complete this form and we will call you back with a quote…</p>
    </div>
    

    <div class="row">
        <form id="bookService">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <select class="form-control" id="address">
                <option>Lonehill</option>
                <option>Beverley</option>
                <option>Fourways</option>
            </select>
        </div>
        <div class="form-group">
            <label for="email">Details of service</label>
            <textarea type="email" class="form-control" id="email" placeholder="Details" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>