<div class="container" id="fees">

    <div class="offered-services">
      <p class="centered-header">Our Fees</p>  
    </div>

    <div class="row">
        <!--<div class="col-xs-2 col-md-2" style="text-align: center;">
            <img src="/public/img/dog-pays.jpg" class="fees-image img-thumbnail" style="padding: 0px;"/>
        </div>-->
        <div class="col-xs-12 col-md-12">
            <div class="list-group" style="padding-left: 0px;">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">House Visit - <span class="amount">R120.00</span> per visit</h4>
                    <p class="list-group-item-text">This entails a single visit to your house in order to feed your pets, water your plants or give your home that lived in look. Extra will be charged should you live further than 10km away from the Lonehill / Fourways area at R4.10/km.</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Dog Walk - <span class="amount">R250.00</span> per pet</h4>
                    <p class="list-group-item-text">This entails collecting your dog, going for a 45 minute walk and then retuning him / her back to your house.</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Pet Taxi - <span class="amount">R160.00</span> per pet</h4>
                    <p class="list-group-item-text">This entails collecting your pets and taking them to the parlor or vets and returning them. This costs does not include the bill related to the appointment.</p>
                </li>            
            </div>
        </div>
    </div>
</div>