<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p class="large-text">Most pets prefer the comfort of their own home when their parents are away. <br>So if you are going on holiday or on business, minimise the stress of catteries and kennels and leave your pets at home in familiar surroundings.
  <br>We are committed to providing you with hassle-free, high-quality service whenever you are away from your pets.</p>  
      </div>
    </div>
</div>

<div class="container">
    <div class="offered-services">
      <p class="centered-header">What we offer</p>  
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6" style="text-align: center;">

      <div class="service">
        <img src="/public/img/kitten_drinking.jpg" alt="Kitten Drinking" class="img-thumbnail service-image">
        <p class="service-caption">Pet Feeding</p>
        <p class="service-description">While you are away, let us visit your furry friends to make sure they have all the food, water and company they need. Your pets will receive the care love and attention they deserve.
We will also scoop the poop in your garden and turn lights on/off if required.</p>
      </div>

    </div>

    <div class="col-xs-12 col-md-6" style="text-align: center;">
      <div class="service">
        <img src="/public/img/dog-walking.jpg" alt="Kitten Drinking" class="img-thumbnail service-image">
        <p class="service-caption">Dog Walking</p>
        <p class="service-description">Let us leash up your furry friends and take them on a 45-minute walk giving them the exercise and socialisation they need to be healthy, fit and happy.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6" style="text-align: center;">
      <div class="service">
        <img src="/public/img/water-plants.jpg" alt="Kitten Drinking" class="img-thumbnail service-image">
        <p class="service-caption">Watering Plants</p>
        <p class="service-description">No one wants to return from a holiday or a business trip to find wilted, drying houseplants. So leave it to us to water them regularly to ensure your plants are lush and healthy when you return. We will also turn on/off lights if required.</p>
      </div>      

    </div>
  </div>
</div>