<div class="container" id="terms">
    <div class="offered-services">
      <p class="centered-header">Terms of Service</p>  
    </div>

    <div class="row">
        <!--<div class="col-xs-2 col-md-2" style="text-align: center;">
            <img src="/public/img/dog-works.jpg" class="fees-image img-thumbnail" style="padding: 0px;"/>
        </div>-->

        <div class="col-xs-12 col-md-12">
            <ul class="terms">
                <li>In terms of the contract the client is solely responsible for providing sufficient food, cleaning supplies, light bulbs and chemicals for the duration of the service</li>
                <li class="">Should any additional stocks need to be purchased, they will be bought at retail plus R 25.00 (service fee) and all accounts are to be settled immediately on your return.</li>
                <li class="">Should you need to prolong your visit, we will simply amend your contract and request that you settle all outstanding balances on your return.</li>
                <li class="">We are not liable for any illness or accident that your pets may incur during the service or for any associated Veterinary bills, providing that the above is not due to our negligence.</li>
                <li class="">Should your pet / s become ill during the service, we will transport them to your vet free of charge, providing your Vet is available, alternatively we will transport your pet / s to the next closest available Vet.</li>
                <li class="">We are not liable for your pets should they escape or jump over walls and get run over, or for any damage which they may cause in your absence, providing the above is not due to our negligence.</li>
                <li class="">We take no responsibility for the normal electrical failures and wear and tear during our service e.g. Radio's, TV's, light bulbs etc.</li>
                <li class="">We take no responsibility for any damage or theft which may be incurred during the service, providing the above is not due to our negligence.</li>
                <li class="">We ask that should you give any other people keys to your property or instructions regarding your property, that you inform us of this action and these instructions, and we ask that the relevant parties check with us before conducting any service on your property relating to our service.</li>
            </ul>
        </div>
    </div>


</div>
