<div class="container" id="terms">
    <div class="offered-services">
      <p class="centered-header">Terms of Service</p>  
    </div>

    <div class="row">
        <!--<div class="col-xs-2 col-md-2" style="text-align: center;">
            <img src="/public/img/dog-works.jpg" class="fees-image img-thumbnail" style="padding: 0px;"/>
        </div>-->

        <div class="col-xs-12 col-md-12">
            <ul class="terms">
                <li>In terms of the contract, the client is solely responsible for providing sufficient food, cleaning and other supplies for the duration of the service</li>
                <li>Should any additional supplies need to be purchased, they will be purchased at retail price plus an additional surcharge and all accounts are to be settled immediately on your return.</li>
                <li>Bills for third party service providers such as vets or dog parlours are for your account and should be settled directly with the relevant service provider. Arrangements can be made to facilitate these transactions.</li>
                <li>Should you need to prolong your visit, we will simply amend your contract and request that you settle all outstanding balances on your return.</li>
                <li>We are not liable for any illness or accident that your pets may incur during the service or for any associated Veterinary bills, providing that the above is not due to our negligence.</li>
                <li>Should your pet(s) become ill during the service, we will transport them to your vet free of charge, providing your vet is available, alternatively we will transport your pet(s) to the next closest available vet.</li>
                <li>We are not liable for your pets should they escape or jump over walls and get injured, or for any damage which they may cause in your absence, provided the above is not due to our negligence.</li>
                <li>We take no responsibility for the normal electrical failures and wear and tear during our service, e.g. light bulbs etc.</li>
                <li>We take no responsibility for any damage or theft which may be incurred during the service, providing the above is not due to our negligence.</li>
            </ul>
        </div>
    </div>


</div>
